# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#
Language: Cpp
BasedOnStyle: LLVM
SpacesBeforeTrailingComments: 2
AccessModifierOffset: -1
SortIncludes: true
ColumnLimit: 80
IncludeBlocks: Preserve
